<template name="DescriptionList">
{{> SectionHeader section="description list"}}
<div class="container">
  <dl class="dl-horizontal">
    <dt>&#60;dt&#62; defines a term in a description list</dt>
    <dd>&#60;dd&#62; describes a term in a description list</dd>
    <dt>.dl-orizontal</dt>
    <dd>Makes the list start as a regular description list</dd>
    <dd>But lines stuff up horizontally on bigger screens</dd>
    <dt>Coffee</dt>
    <dd>Oh sweet coffee thy be hallowed</dd>
    <dt>Tea</dt>
    <dd>What is this beverage</dd>
    <dd>I cannot even</dd>
  </dl>
</div>
</template>