<template name="StylingParagraphs">
  {{> SectionHeader section="styling paragraphs"}}
  <div class="container">
    <p>This paragraph contains a word styled with <mark>&#60;mark&#62;</mark></p>
    <p>This paragraph contains a word styled with <abbr>&#60;abbr&#62;</abbr></p>
    <p>This paragraph contains a word styled with <code>&#60;code&#62;</code></p>
    <p>This paragraph contains a word styled with <kbd>&#60;kbd&#62;</kbd></p>
    <pre>This paragraph is styled with &#60;pre&#62;, which is fixed spaced and preerves    spaces   and 

line breaks</pre>
  </div>
</template>