<template name="Grids">
  {{> SectionHeader section="grids"}}
  <h3 class="h3-info">Following not wrapped</h3>
  {{> Grid444}}
  
  <div class="container-fluid">
    <h3 class="h3-info">Following wrapped in <i>container-fluid</i></h3>
    {{> Grid444}}
  </div>
  
  <div class="container">
    <h3 class="h3-info">Following wrapped in <i>container</i></h3>
    {{> Grid444}}
  </div>
  
  <div class="container">{{> Grid48}}</div>
</template>

<template name="Grid444">
  <div class="row">
    {{> Col type="sm-4"}}
    {{> Col type="sm-4"}}
    {{> Col type="sm-4"}}
  </div>
</template>

<template name="Grid48">
  <div class="row grid48">
    {{> Col type="sm-4"}}
    {{> Col type="sm-8"}}
  </div>
</template>

<template name="Col">
  <div class="col-{{type}}">
    <p>This is a <i>.col-{{type}}</i></p>
  </div>
</template>